{% extends "main.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% include 'user-function.twig' %}
    {% if users|length > 0 %}
        <ul class="list" id="navigation">
            <li class="list__left">Пользователь</li>
            <li>День рождения</li>
            <li>Удалить</li>
            <li class="list__separator"></li>
            {% for user in users %}
                <li class="list__left">{{ user.getUserName() }}</li>
                <li>{{ user.getUserBirthday() | date('d.m.Y') }}</li>
                <li>
                    <form action="/user/delete/" method="get">
                        <input type="hidden" name="name" value="{{ user.getUserName() }}">
                        <button class="list__delete" type="submit">х</button>
                    </form>
                </li>
            {% endfor %}
            <form class="list__button" action="/user/clear/" method="get">
                <button type="submit">Удалить все</button>
            </form>
        </ul>
    {% else %}
        <p>{{message}}</p>
    {% endif %}
{% endblock %}


