<div class="alert" id="form{{ user.getUserId }}">
    <form class="alert__box" action="/user/edit/" method="get">
            <h5 class="alert__heading">Изменить пользователя</h5>
            <label for="name">Имя
                <input id="name" name="name" type="text" placeholder={{ user.getUserName() }}>
            </label>
            <label for="lastname">Фамилия
                <input id="lastname" name="lastname" type="text" placeholder={{ user.getUserLastname() }}>
            </label>
            <label for="birthday"> Дата рождения
                <input id="birthday" name="birthday"
                       placeholder={{ user.getUserBirthday() | date('d-m-Y') }} type="text">
            </label>
            <input type="hidden" name="id" value="{{ user.getUserId }}">
        <div class="alert__btn">
            <button onclick="hideEdit({{ user.getUserId }})" type="button">Отмена</button>
            <button type="submit">Изменить</button>
        </div>
    </form>
</div>